@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
  overflow-x: visible;
  overflow-y: visible;
}

/* Simple glassmorphism utility */
.glass {
  background: rgba(255,255,255,0.6);
  backdrop-filter: blur(6px);
}
